.contacts__inner {
  display: flex;
  flex-wrap: wrap;
}

.contacts__free-training {
  width: 50%;
  background-color: $color-sapphire;
  padding: 58px 168px 64px 103px;

  @include vp-1279 {
    width: 100%;
    padding: 65px 162px 64px 132px;
  }

  @include vp-767 {
    padding: 66px 14px;
  }
}

.contacts__form {
  margin: auto 0;

  h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 49px;
    line-height: 64px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-default-white;
    margin: 0;
  }

  input {
    width: 46%;
    background-color: inherit;
    border-left: none;
    border-right: none;
    border-top: none;
    color: $color-default-white;
    border-bottom: 1px solid $color-light-slate-grey;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 5px;

    &::placeholder {
      color: $color-default-white;
    }
  }

  button[type="submit"] {
    margin-top: 30px;
    width: 100%;
    padding: 18px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-default-white;
    background-color: inherit;
    border: 3px solid $color-default-white;
    user-select: none;
  }

  @include vp-1279 {
    h3 {
      font-size: 42px;
      line-height: 42px;
    }
  }

  @include vp-767 {
    h3 {
      font-size: 32px;
      line-height: 32px;
    }

    input {
      width: 100%;
      margin-bottom: 40px;
    }

    button[type="submit"] {
      margin-top: 0;
      padding: 15px;
    }
  }
}

.contacts__user-input {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  button {
    cursor: pointer;

    &:hover {
      text-shadow: 0 0 20px $color-default-white;
      box-shadow: 0 0 10px $color-default-white;
    }
  }
}

.contacts__address {
  width: 50%;
  padding: 58px 47px 45px 120px;
  text-align: left;
  color: $color-sapphire;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid $color-light-slate-grey;

  h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 49px;
    line-height: 64px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0 0 14px;
    width: 100%;
  }

  address {
    font-style: normal
  }

  .contacts__address-text {
    width: 46%;
    border-right: 1px solid $color-light-slate-grey;
  }

  .contacts__phone-text {
    width: 44%;
  }

  dl {
    padding-left: 5px;
    padding-top: 1px;
    margin: 0;
  }

  dt {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
  }

  dd {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 21px;
  }

  dd:last-child {
    margin: 0;
  }

  @include vp-1279 {
    width: 100%;
    padding: 66px 47px 34px 132px;
    margin-bottom: 25px;

    h3 {
      font-size: 42px;
      line-height: 42px;
      margin: 0 0 36px;
    }

    dl {
      padding: 0;
    }

    dt {
      font-size: 20px;
      line-height: 150%;
      margin-bottom: 7px;
    }

    dd {
      font-size: 18px;
      line-height: 152.34%;
    }

    .contacts__phone-text {
      width: 47%;
    }

    .contacts__address-text {
      width: 45.5%;
    }
  }

  @include vp-767 {
    padding: 70px 15px 47px;
    margin-bottom: 0;

    h3 {
      font-size: 32px;
      line-height: 32px;
    }

    .contacts__address-text {
      width: 100%;
      border: none;
      margin-bottom: 13px;
    }

    .contacts__phone-text {
      width: 100%;
      margin-bottom: 13px;
    }
  }
}
