.footer {
  background-color: $color-black-russian;
  color: $color-default-white;
}

.footer__inner {
  padding: 44px 103px;

  @include vp-1023 {
    padding: 44px 46px;
  }

  @include vp-767 {
    padding: 50px 15px;
  }
}

.footer__content-wrapper {
  width: 100%;
  display: flex;
  align-items: center;

  .main-unit__logo-footer {
    margin-right: auto;
    margin-bottom: auto;
  }

  @include vp-1023 {
    .main-unit__logo-footer {
      margin-right: auto;

      svg {
        width: 82px;
        height: 18px;
      }
    }
  }

  @include vp-767 {
    position: relative;
    flex-wrap: wrap;

    .main-unit__logo-footer {
      position: absolute;
      top: 0;

      svg {
        width: 68px;
        height: 15px;
      }
    }
  }
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 4px;
  margin-left: 38px;

  @include vp-767 {
    display: block;
    column-count: 2;
    margin: 0 0 10px;
    width: 100%;
    margin-left: 0;
  }
}

.footer__item {
  margin-right: 40px;

  a {
    color: $color-default-white;
    font-size: 14px;
    line-height: 16px;
  }

  &:last-child {
    margin-right: 20px;
  }

  @include vp-1023 {
    margin-right: 30px;
  }

  @include vp-767 {
    margin-bottom: 17px;
    margin-right: 60px;

    a {
      font-size: 16px;
      line-height: 19px;
    }

    &:first-child {
      margin-top: 34px;
    }
  }
}

.footer__social {
  display: flex;
  align-items: center;
  margin-bottom: auto;

  svg {
    margin-left: 25px;

    &:first-child {
      margin-left: 0;
    }
  }

  @include vp-1023 {
    svg {
      margin-left: 20px;
    }
  }

  @include vp-767 {
    svg {
      margin-left: 35px;
    }

    .footer__vk-link {
      width: 32px;
      height: 17px;
    }

    .footer__insta-link {
      width: 27px;
      height: 27px;
    }

    .footer__fb-link {
      width: 14px;
      height: 27px;
    }
  }
}
