.promotions {
  max-width: 1366px;
  margin: 0 auto;
}

.promotions__inner {
  padding: 96px 0 45px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;

  h3 {
    width: 100%;
    margin-bottom: 55px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    color: $color-sapphire;
  }

  @include vp-1023 {
    padding: 72px 45px 25px;

    h3 {
      font-size: 42px;
      line-height: 42px;
      margin-bottom: 46px;
    }
  }

  @include vp-767 {
    padding: 78px 15px 4px;

    h3 {
      font-size: 32px;
      line-height: 32px;
    }
  }
}

.promotions__content-wrapper {
  margin: 0 auto;
  display: flex;
  max-width: 1200px;

  @include vp-1023 {
    flex-wrap: wrap;
  }
}

.promotions__first-block {
  display: flex;
  margin: 0 20px;

  @include vp-1023 {
    margin: 0 auto 30px;
  }

  @include vp-767 {
    flex-wrap: wrap;
    text-align: center;
    width: 290px;
    margin-bottom: 331px;
  }
}

.promotions__first-block-cost {
  background-color: $color-torch-red-1;
  color: $color-default-white;
  text-align: left;
  padding: 7px 45px 43px;
  width: 280px;
  min-height: 462px;
  align-self: flex-start;

  .promotions__first-block-one-year {
    font-weight: 700;
    font-size: 28px;
    line-height: 156%;
    margin-bottom: 16px;
  }

  span {
    font-weight: 700;
    font-size: 70px;
  }

  .promotions__first-block-no-limit {
    font-size: 18px;
    line-height: 140%;
    margin-top: 23px;
    margin-bottom: 184px;
  }

  a {
    color: $color-default-white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    border-bottom: 1px solid $color-default-white;

    &:hover {
      opacity: 0.5;
    }
  }

  @include vp-767 {
    min-height: 220px;
    padding-bottom: 42px;
    width: 290px;
    text-align: center;
    align-self: auto;

    .promotions__first-block-no-limit {
      margin-bottom: 20px;
    }
  }
}

.promotions__first-block-img {
  width: 280px;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("../img/girl-on-blue-desktop.jpg");
  background-size: contain;

  @include retina {
    background-image: url("../img/girl-on-blue-desktop@2x.jpg");
  }

  @include vp-1023 {
    width: 399px;
    background-image: url("../img/girl-on-blue-tablet.jpg");

    @include retina {
      background-image: url("../img/girl-on-blue-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    width: 290px;
    background-image: url("../img/girl-on-blue-mobile.jpg");
    background-size: cover;

    @include retina {
      background-image: url("../img/girl-on-blue-mobile@2x.jpg");
    }
  }
}

.promotions__second-block {
  margin: 0 20px;
  width: 99.6%;

  @include vp-1023 {
    width: 100%;
    margin: 0 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.promotions__second-block-item {
  width: 100%;
  min-height: 211px;
  border-image: linear-gradient(to right bottom, #d10a42 0%, #02359e 100%);
  border-width: 7px;
  border-style: solid;
  border-image-slice: 1;
  padding: 31px 27px 27px;
  text-align: left;
  color: $color-resolution-blue;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  h4 {
    width: 100%;
    font-weight: 700;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 29%;
  }

  p {
    width: 100%;
    font-size: 16px;
    line-height: 140%;
    margin-top: 0;
  }

  a {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-bottom: 1px solid $color-resolution-blue;
    color: $color-resolution-blue;
    margin: auto 0 0;

    &:hover {
      opacity: 0.5;
    }
  }

  br {
    display: none;
  }

  @include vp-1023 {
    width: 48%;
  }

  @include vp-767 {
    width: 100%;
    padding: 47px 25px 40px 25px;
    margin-bottom: 30px;
    text-align: center;

    a {
      margin: auto auto 0;
    }

    p {
      margin-top: 16px;
    }

    br {
      display: inline;
    }
  }
}

.promotions__second-block-month {
  @include vp-1023 {
    padding: 37px 58px 27px 27px;
  }
}
