.reviews {
  margin-bottom: 91px;

  @include vp-1279 {
    margin-bottom: 72px;
  }

  @include vp-767 {
    margin-bottom: 49px;
  }
}

.reviews__inner {
  padding: 30px 103px;

  @include vp-1279 {
    padding: 0 45px 30px;
  }

  @include vp-767 {
    padding: 0 16px 21px;
  }
}

.reviews__content-wrapper {
  margin: 0 auto;
  width: 672px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    color: $color-sapphire;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    margin-bottom: 55px;
  }

  @include vp-1279 {
    h3 {
      font-size: 42px;
      line-height: 42px;
      margin-bottom: 45px;
    }
  }

  @include vp-767 {
    width: 100%;

    h3 {
      font-size: 32px;
      line-height: 32px;
    }
  }
}

.reviews__comment-wrapper {
  display: flex;
  flex-wrap: wrap;

  button {
    width: 16px;
    height: 32px;
    border: none;
    background-color: inherit;
    align-self: center;
  }

  @include vp-767 {
    width: 288px;
    margin: 0 auto;

    .reviews__button-prev {
      svg {
        width: 10px;
        height: 19px;
      }
    }

    .reviews__button-next {
      svg {
        width: 10px;
        height: 19px;
      }
    }
  }
}


.reviews__comment {
  width: 560px;
  background: $color-resolution-blue;
  box-shadow: 0px 0px 40px rgba(28, 51, 116, 0.2);
  margin: 0 auto;
  color: $color-default-white;
  padding-left: 170px;
  text-align: left;
  padding-top: 27px;
  padding: 27px 62px 35px 170px;
  position: relative;

  h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 10px;
  }

   p {
     margin-top: 10px;

     br {
       display: none;
     }
   }

   &::before {
     position: absolute;
     content: "";
     width: 80px;
     height: 80px;
     background-image: url("../img/comment-anna-orlova.png");
     background-repeat: no-repeat;
     left: 62px;
     top: 62px;
   }

   @include vp-1279 {
     width: 566px;

     p {
      br {
        display: inline;
      }
     }
   }

   @include vp-767 {
     width: 226px;
     padding: 23px 20px 17px;
     text-align: center;

     h4 {
       margin-left: 103px;
       margin-bottom: 16px;
       text-align: left;
     }

     p {
      line-height: 140%;

      br {
        display: none;
      }

      .reviews__br-1 {
        display: inline;
      }
     }

     &::before {
      background-image: url("../img/comment-anna-orlova-mobile.png");
      left: 41px;
      top: 43px;
     }
   }
}
