.reviews__inner {
  padding: 30px 103px;
}

.reviews__content-wrapper {
  margin: 0 auto;
  width: 672px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    color: $color-sapphire;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    margin-bottom: 55px;
  }
}

.reviews__comment-wrapper {
  display: flex;
  flex-wrap: wrap;

  button {
    width: 16px;
    height: 32px;
    border: none;
    background-color: inherit;
    align-self: center;
  }

  .reviews__button-prev {
    background-image: url("../img/svg/arrow-left.svg");
  }

  .reviews__button-next {
    background-image: url("../img/svg/arrow-right.svg");
  }
}


.reviews__comment {
  width: 560px;
  background: $color-resolution-blue;
  box-shadow: 0px 0px 40px rgba(28, 51, 116, 0.2);
  margin: 0 auto;
  color: $color-default-white;
  padding-left: 170px;
  text-align: left;
  padding-top: 27px;
  padding: 27px 62px 35px 170px;
  position: relative;

  h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 10px;
  }

   p {
     margin-top: 10px;
   }

   &::before {
     position: absolute;
     content: "";
     width: 80px;
     height: 80px;
     background-image: url("../img/comment-anna-orlova.png");
     left: 62px;
     top: 62px;
   }
}
