.subscription {
  position: relative;
  background-color: $color-ghost-white;
  user-select: none;

  &::after {
    position: absolute;
    z-index: 0;
    content: "";
    width: 283px;
    height: 417px;
    background-image: url("../img/disks-desktop.png");
    background-repeat: no-repeat;
    right: 1px;
    bottom: -77px;
  }

  @include vp-1023 {
    &::after {
      background-image: url("../img/disks-tablet.png");
      width: 348px;
      right: 1px;
      bottom: -95px;
    }
  }

  @include vp-767 {
    &::after {
      background-image: none;
    }
  }
}

.subscription__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 75px 44px 78px;

  h2 {
    width: 100%;
    font-family: "Bebas Neue", sans-serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    color: $color-sapphire;
  }

  @include vp-1023 {
    padding-top: 60px;
    padding-bottom: 43px;

    h2 {
      font-size: 42px;
      line-height: 42px;
    }
  }

  @include vp-767 {
    padding: 41px 0 19px;

    h2 {
      font-size: 32px;
      line-height: 32px;
    }
  }
}

.subscription__list-month {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  margin-bottom: 20px;
}

.subscription__item-month {
  font-size: 20px;
  line-height: 150%;
  color: rgba(16, 38, 84, 0.5);
  margin: 0 23px;
  margin-bottom: 10px;
  cursor: pointer;

  &:nth-child(1) {
    margin-left: 0;
  }

  &:nth-last-of-type(1) {
    margin-right: 0;
  }

  @include vp-1023 {
    font-size: 18px;
    margin: 0 27px 10px;
  }

  @include vp-767 {
    font-size: 16px;
    margin-left: 22px;
    margin-right: 22px;
  }
}

.subscription__item-month-current {
  position: relative;
  color: $color-sapphire;

  &::before {
    position: absolute;
    bottom: -11px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $color-crimson;
  }

  @include vp-767 {
    &::before {
      width: 113%;
    }
  }
}

.subscription__list-cost {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 19px 3px;

  @include vp-767 {
    padding-left: 0;
    padding-right: 0;
  }
}

.subscription__cost-wrapper {
  position: relative;

  &::before {
    position: absolute;
    z-index: -1;
    top: -51px;
    left: 0;
    content: attr(data-price);
    width: 203px;
    height: 69px;
    font-weight: 700;
    font-size: 100px;
    line-height: 150%;
    color: $color-whisper;
    opacity: 0.48;
  }

  @include vp-767 {
    &::before {
      top: -45px;
      left: 43px;
      font-size: 80px;
      line-height: 150%;
      opacity: 0.48;
      margin-left: calc(39% - 114px);
    }
  }
}

.subscription__item-cost {
  background-color: $color-default-white;
  z-index: 1;
  color: $color-sapphire;
  padding: 57px 76px 88px;
  margin: 0 21px 20px;
  position: relative;

  h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    margin: 0;
  }

  p {
    font-size: 16px;
    line-height: 150%;
    color: $color-chambray;
    margin-top: 6px;
  }

  .subscription__price {
    position: relative;
    font-weight: 700;
    font-size: 60px;
    line-height: 150%;
    color: $color-egyptian-blue;
    margin-top: 63px;
    margin-right: 50px;
    margin-bottom: 53px;

    &::after {
      position: absolute;
      content: url("../img/svg/rub.svg");
      width: 30px;
      height: 42px;
      right: -28px;
    }
  }

  a {
    position: relative;
    width: 206px;
    min-height: 64px;
    padding: 23px 44px;
    border: 2px solid $color-sapphire;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    cursor: pointer;
    z-index: 2;
  }

  &:hover {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      border-image: linear-gradient(to right bottom, $color-crimson 0%, $color-smalt 100%);
      border-width: 7px;
      border-style: solid;
      border-image-slice: 1;
      top: 0;
      left: 0;
    }

    a {
      color: $color-default-white;
      padding: 23px 46px;
      border: none;
      background: linear-gradient(97.05deg, $color-torch-red 17.6%, $color-cobalt 95.31%);
    }
  }

  @include vp-1023 {
    padding: 64px 116px 91px;
    margin-bottom: 33px;
  }

  @include vp-767 {
    width: 100%;
    padding: 48px 0 74px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 37px;

    h3 {
      font-size: 22px;
      line-height: 110.16%;
    }

    .subscription__price {
      font-size: 48px;
      line-height: 150%;
      margin-right: 33px;
      margin-top: 56px;
      margin-bottom: 50px;

      &::after {
        width: 24px;
        height: 33px;
        content: url("../img/svg/rub-tablet.svg");
        right: 43px;
        bottom: 39px;
      }
    }

    &:hover {
      // padding-top: 46px;
      // padding-bottom: 68px;
    }
  }
}

.subscription__list-cost-six-month {
  display: none;
}

.subscription__list-cost-twelve-month {
  display: none;
}
