.treners {
  padding: 60px 83px;

  h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    color: $color-sapphire;
    margin-top: 0;
    margin-left: 22px;
    margin-bottom: 55px;
  }
}

.treners__list {
  display: flex;
  justify-content: center;
  position: relative;
}

.treners__slider-wrapper {
  position: relative;
}

.treners__button-back {
  position: absolute;
  width: 16px;
  height: 32px;
  left: -36px;
  top: 132px;
  border: none;
  background-color: inherit;
  background-image: url("../img/svg/arrow-left.svg");
}

.treners__button-forward {
  position: absolute;
  width: 16px;
  height: 32px;
  right: -36px;
  top: 132px;
  border: none;
  background-color: inherit;
  background-image: url("../img/svg/arrow-right.svg");
}

.treners__item {
  width: 260px;
  height: 294px;
  margin: 0 auto;
  position: relative;

  h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: $color-default-white;
  }
}

.treners__list-info {
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
}

.treners__list-item {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: left;
  margin-bottom: 13px;

  &::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $color-default-white;
    left: -16px;
    top: 7px;
  }
}

.treners__info-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 14px;
  line-height: 150%;
  color: $color-default-white;
  padding: 70px 41px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;

  h4 {
    margin: 0;
    order: 100;
  }

  p {
    opacity: 0;
    margin: 0 0 28px;
    font-size: 16px;
    line-height: 150%;
    color: $color-spindle;
  }

  ul {
    opacity: 0;
  }

  &:hover {
    padding-top: 53px;
    background: rgba(16, 38, 84, 0.89);

    h4 {
      order: 0;
    }

    ul {
      opacity: 1;
    }

    p {
      opacity: 0;
    }
  }
}
